*{
    margin: 0;
    padding: 0;
    box-sizing: border-box
}
.carousel-item img{
    width: 100%;
    height: 80vh;

}

.custom-bg-lightbrown {
    background-color: #d2b48c; /* Light Brown color */
}

.bg-Beige {
    background-color: beige; /* Light Brown color */
}


.bg-beige {
    background-color: beige;
}

body, .navbar-nav .nav-link, .btn, h1, h5, p, .card-title {
    color: green !important;

}
    
    